* 
{
    box-sizing: border-box;
}

body
{
    background-color:darkturquoise;
    background-repeat: none;
    background-attachment: fixed;
}

a 
{
    text-decoration: none;
}

nav a:hover
{
    color: blue !important;
}

footer a
{
    color: grey;
}

